@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login - Sistema de Alquiler</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            height: 100vh;
            margin: 0;
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/img/fondo-login.jpg') no-repeat center center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-box {
            background: white;
            padding: 30px;
            width: 350px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
        }

            .login-box h3 {
                text-align: center;
                margin-bottom: 25px;
            }
    </style>
</head>
<body>

    <div class="login-box">
        <h3>Sistema de Alquiler</h3>

        <form asp-action="Index" method="post">

            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="Usuario" class="form-control" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="Clave" class="form-control" required />
            </div>
            
            <button class="btn btn-dark w-100">
                Ingresar
            </button>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger mt-3">
                    @ViewBag.Error
                </div>
            }

        </form>
    </div>

</body>
</html>


