@{
    ViewData["Title"] = "Home Page";
}

<h2>Bienvenido al Sistema de Alquiler de Autos</h2>
<p>
    Desde este sistema podrás administrar clientes, vehículos y alquileres
    de manera rápida y sencilla.
</p>
