@model AlquilerAutos.Models.Cliente

@{
    Layout = "_LayoutSistema";
}


@{
    ViewBag.Title = "Editar Cliente";
}

<h2>Editar Cliente</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>DNI</label>
        <input asp-for="DNI" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Nombres</label>
        <input asp-for="Nombres" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Apellidos</label>
        <input asp-for="Apellidos" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Teléfono</label>
        <input asp-for="Telefono" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Guardar cambios
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>
</form>
